.movie {
  background-color: #1e1e1e;
  padding: 1rem;
  width: 200px;
  border-radius: 8px;
  transition: transform 0.2s;
}

.movie:hover {
  transform: scale(1.05);
}

.movie img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

